@import '~@/assets/style/unit/color.scss';

// 工具类名统一前缀
$prefix: cs;

// flex 垂直水平居中
%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

%flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
